.candidatos {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 11%;
    filter: grayscale(100%);
}

.activo{
    filter: grayscale(0%);
}

.card:hover {
    filter: grayscale(0%);
}

.btnVotar {
    margin-top: 15px;
    padding: 5px;
    background-color: #DC3135;
    color: white;
    font-family: Plein-Bold;
    font-size: 15px;
    border-radius: 15px;
    width: 200px;
}

.foto_modal{
    width: 40%;
    margin-top: 20px;
}


